.App {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #20242f;
}

.copyright-notice {
  color: rgba(255,255,255,0.2);
  position: absolute;
  right: 0;
  font-size: 15px;
  font-style: italic;
  background-color: #34495e;
  padding: 2px 15px 2px 15px;
  border-radius: 10px;
  bottom: 0;
  margin: 15px;
}

.fadein, .fadeout {
  opacity: 0;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.fadein {
  opacity: 1;
}